* {
    outline: 1px solid red;
}

.selectedPage {
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
}

.wait {
    height: 100vh;
    line-height: 100vh;
    margin: auto;
}

.page {
    margin: 3px;
    font-size: 12px;
    cursor: pointer;
    word-wrap: break-word;
}

.box {
    padding-top: 5px;
}

.scroll {
    overflow-y: auto;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: start
}

.nav {
    text-decoration: none;
    padding: 10px;
}

.text {
    color: black;
}

p {
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
}

.but {
    margin: 5px;
    cursor: pointer;
}